.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid grey;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

.formInput h1 {
  font-weight: bold;
  color: rgb(3, 107, 133);
  text-align: center;
}

.submit {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(3, 107, 133);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

label {
  font-size: 12px;
  color: grey;
}
